body{
    text-align: center;
    font-size:30px;
    font-weight: bold;
    margin-top:40px;
}

.credits {
  color:green;
  font-size:36px;
  font-family:cursive;
  text-align:center;
  margin-top:40px;
  padding:20px;
}
